$font-url: 'http://fonts.useso.com/css?family=Lato:400,700,400italic,700italic&subset=latin';
@import 'semantic-ui';

.chatbox {
    height: 500px;
}

#messages {
    overflow: auto;
    height: 15em;
}